@import 'lighttheme.styl'

body
	margin 0
	padding 0
	font-family font
	background primary
	
.center
	position absolute
	top 50%
	left 50%
	transform translate(-50%,-50%)
	
.pop-up-style
	box-shadow 0 0 5px 0 shadow
	h1
		text-align center
		margin 30px 0
.label
	display block
	width 100%
	font-size 20px
	margin 10px 0

.input
	margin-top 10px
	display block
	width 100%
	font-family font
	font-size 20px
	height 30px
	background none
	border none
	border-bottom solid 2px secondary 

.button
	background secondary
	border none
	color white
	font-family font
	font-size 20px
	width 200px
	height 40px
	display block
	
.button:hover
	box-shadow 0 0 5px 0 secondshadow
	cursor pointer
	
.error
	display block
	width 100%
	font-size 20px
	padding 5px 0
	background rgba(255,0,0,0.3)